*{
    padding: 10px;
    margin: 0px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 700px;
    border: 2px solid black;
}
.input{
    padding-left: 5px;
    height: 50px;
    width: 500px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
    box-shadow: 8px 8px 17px rgb(161, 161, 161);
}





.userContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: ;
    width: 70%;
    border: 2px solid black;
}

.profilePicContainer{

    height: 50px;
    width: 100%;
    display: flex;
    
    align-items: center;
    
}
.imgConfig{
    border: 1px solid yellowgreen;
    height: 220px;
    width: 220px;
}

.profile_Data{
    height: 220px;
    text-align:left;
    width: 420px;
    border: 1px solid red;
}
.UserData{
    width: 100%;
    border: 2px solid pink;
}
.repositories{
    width: 80%;
    border: 1px solid yellow;
}
.repoHolder{
    height: 10px;
    width: 80%;
    border: 2px solid grey;
    border-radius: 3px;
}